.Carouseimage
{
   height: 400px !important;
}

@media (max-width:700px) {

    .image
    {
        height: 250px;
    }
    
}

.carousel
    {
        margin-top: 20px;
        margin-bottom: 50px;
    }